:root {
  --color-1: #442288;
  --color-2: #4c88d8;
  --color-3: #b42ca9;
  --color-4: #4013e0;
  --color-5: #eb7d5b;
  --angle: 0deg;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

body {
  color: var(--color-1);
  margin: 0px;
  font-family: "Palette Mosaic", cursive;
}

.content {
  display: block;
  height: 100%;
  margin: 20px;
  background-color: #ffffff;
}

.content-wrapper {
  max-width: 1440px;
  justify-content: center;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.header-del {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  text-align: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.header-del h2 {
  font-family: "Palette Mosaic", cursive;
  font-size: 2.5vw;
  font-weight: 900;
  line-height: 5vw;
  text-transform: uppercase;
  background-clip: text;
  -webkit-background-clip: text;
  color: var(--color-2);
}

.header-emoji {
  font-size: 35px;
  padding-left: 20px;
}

.actual-model model-viewer {
  width: 100%;
  max-height: 350px;
  min-height: 350px;
  max-width: 350px;
}

.actual-model {
  margin: 20px;
  width: 100%;
  max-width: 350px;
  padding: 20px;
  box-shadow: rgba(99, 116, 121, 0.2) 0px 2px 8px 0px;
}

.credits {
  position: fixed;
  bottom: 0px;
  right: 20px;
  padding: 20px;
}

.class-name {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.section-title {
  text-align: center;
  max-width: 1440px;
  justify-content: center;
  margin: 0 auto;
  font-size: 18px;
  color: var(--color-5);
  font-weight: 600;
}

select {
  appearance: none;
  background-color: var(--color-5);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
  width: 250px;
  outline: none;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

select:hover {
  background-color: var(--color-5);
}

select:focus {
  background-color: var(--color-5);
  box-shadow: 0 0 5px rgb(238, 201, 81);
}
